html,
body {
    padding-top: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    padding-bottom: 4px;
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1f1;
    overflow: scroll;
}

body {
    padding-left: 8px;
    padding-right: 8px;
    -webkit-user-select: none;
    min-width: 520px;
    min-height: 600px;
}

.footer {
    font-size: 1em;
    font-weight: 100;
    color: rgb(78, 78, 78);
    position: absolute;
    bottom: 0;
}

#sh {
    color: darkblue;
}